#guidings {

text-align: center;
font-size: medium;

}

body {

background-color: lightpink;

}

head {

background-color: lightpink;
text-align: center;

}

#forger {

text-align: center;
height: 300px;
width: 400px;

}

#anya {

font-size:20px; 

}